{% extends 'base.html.twig' %}

{% set content_title = 'About' %}

{% block body %}
    <article class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">About</h1>
        </div>
        <div class="panel-body">
            <p>Sooo... this is the about page... yeah.</p>
        </div>
    </article>
{% endblock %}

